body {
    background-color: black;
   	text-align: center;
}

h1 {
    color: white;
    height: 200px;
    width: 400px;
   	position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

p {
    font-family: verdana;
    font-size: 20px;
    color: white;
    height: 200px;
    width: 400px;
   	position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -200px
   
}